public/
node_modules/*
package.json
tsconfig.json
.prettierrc
README.md
CHANGELOG.md
yarn.lock
vite.config.ts
.husky/*
tsconfig.node.json
.prettierrc
.gitignore
src/index.css
.eslintrc.cjs
tsconfig.tsbuildinfo
.github/*
.eslintignore
tailwind.config.js
index.html
src/assets/image/*
src/assets/font/*
.prettierignore
index.css
vite.config.d.ts

